<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex">
    <header class="header bg-light py-5 d-flex flex-column justify-content-between w-25 vh-100 overflow-scroll">
      <div>
        <h1 class="navbar-brand logo mb-5 ms-5">
          <a href="#">ANSWER</a>
        </h1>
        <nav>
          <ul class="list-unstyled in-Px-5 in-Pb-4">
            <li>
              <a href="#" class="nav-link p-0">
                <i class="fas fa-shield-alt fs-4 me-2"></i>
                <h6 class="d-inline">Dashboard</h6>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link p-0">
                <i class="fas fa-comments fs-4 me-2"></i>
                <h6 class="d-inline">Question</h6>
              </a>
            </li>
            <li class="<%- current === 'assignment' ? ' active' : ''%>">
              <a href="assignment.html" class="nav-link p-0<%- current === 'assignment' ? ' text-success position-relative' : ''%>">
                <i class="fas fa-clipboard-list fs-4 me-2"></i>
                <h6 class="d-inline">Assignment</h6>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link p-0">
                <i class="fas fa-file-video fs-4 me-2"></i>
                <h6 class="d-inline">Course</h6>
              </a> 
            </li>
            <li class="<%- current === 'admin' ? ' active' : ''%>">
              <a href="admin.html" class="nav-link p-0<%- current === 'admin' ? ' text-success position-relative' : ''%>">
                <i class="fas fa-user-friends fs-4 me-2"></i>
                <h6 class="d-inline">Admin</h6>
              </a>
            </li>
            <li class="px-5 pb-4">
              <a href="#" class="nav-link p-0">
                <i class="fas fa-wrench fs-4 me-2"></i>
                <h6 class="d-inline">Settings</h6>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex px-5 align-items-center">
        <span class="avatar me-3 flex-shrink-0">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week5/andychen.jpeg" alt="andy chen picture"/>
        </span>
        <div>
          <p class="fs-6 m-0">Andy Chen</p>
          <p class="fs-6 m-0 text-secondary">andy0401@mail.com</p>
        </div>
      </div>
    </header>
    <main class="main vh-100 flex-grow-1 overflow-scroll p-4">
      <%- contents %>
    </main>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>